body{
	background: rgb(232, 247, 220);
	justify-content: center;
	align-items: center;
}

form label{
  text-align: center;
	width:40%;
	color: #2f5233;
	font-family:Geneva;
  font-size: 20px;
}

h2{
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form input[type="text"]{
	width:50%;
	padding:5px 15px;
	border:2px solid #B1B1B1;
	border-radius:3px;
	background-color:#fff;
	border-color: #2f5233;
}

/* btn editar negocio */

.botonEditar{
  text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    background-color: #2f5233;
    border-radius: 50px;
    border: 2px solid #2f5233;
}

.botonEditar:hover{
    text-decoration: none;
    color:#2f5233;
    background-color: #ffffff;
}

/* btn editar cliente */

.botonEditarCliente{
    text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 16px;
      color: #ffffff;
      background-color: rgb(5, 133, 35);
      border-radius: 50px;
      border: 2px solid rgb(5, 133, 35);
}
  
.botonEditarCliente:hover{
      text-decoration: none;
      color:#2f5233;
      background-color: #ffffff;
}

/* btn editar contrasena negocio */

.botonEditarContra{
    text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 16px;
      color: #ffffff;
      background-color: #2f5233;
      border-radius: 50px;
      border: 2px solid #2f5233;
}
  
.botonEditarContra:hover{
      text-decoration: none;
      color:#2f5233;
      background-color: #ffffff;
}

/* btn editar contrasena cliente */

.botonEditarContraCliente{
  text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    background-color: rgb(5, 133, 35);
    border-radius: 50px;
    border: 2px solid rgb(5, 133, 35);
}

.botonEditarContraCliente:hover{
    text-decoration: none;
    color:#2f5233;
    background-color: #ffffff;
}

/* btn guardar negocio */

.botonGuardar{
  text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    background-color: #2f5233;
    border-radius: 50px;
    border: 2px solid #2f5233;
}

.botonGuardar:hover{
    text-decoration: none;
    color:#2f5233;
    background-color: #ffffff;
}

/* btn guardar cliente */

.botonGuardarCliente{
  text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    background-color: rgb(5, 133, 35);
    border-radius: 50px;
    border: 2px solid rgb(5, 133, 35);
}

.botonGuardarCliente:hover{
    text-decoration: none;
    color:#2f5233;
    background-color: #ffffff;
}

/* btn eliminar negocio */

.botonEliminar{
      text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 16px;
        color: #ffffff;
        background-color: #7a1818;
        border-radius: 50px;
        border: 2px solid #7a1818;
}
    
.botonEliminar:hover{
        text-decoration: none;
        color:#7a1818;
        background-color: #ffffff;
}


/* btn eliminar cliente */

.botonEliminarCliente{
  text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    background-color: #7a1818;
    border-radius: 50px;
    border: 2px solid #7a1818;
}

.botonEliminarCliente:hover{
    text-decoration: none;
    color:#7a1818;
    background-color: #ffffff;
}


/* btn cancelar negocio */

.botonCancelar{
  text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    background-color: #7a1818;
    border-radius: 50px;
    border: 2px solid #7a1818;
}

.botonCancelar:hover{
    text-decoration: none;
    color:#7a1818;
    background-color: #ffffff;
}

/* btn cancelar cliente */

.botonCancelarCliente{
  text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    background-color: #7a1818;
    border-radius: 50px;
    border: 2px solid #7a1818;
}

.botonCancelarCliente:hover{
    text-decoration: none;
    color:#7a1818;
    background-color: #ffffff;
}
  
